<div class="calendar-container">
  <div class="calendar-header">
    <button mat-icon-button (click)="previousMonth()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h2>{{ currentDate | date:'MMMM yyyy' }}</h2>
    <button mat-icon-button (click)="nextMonth()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="calendar-body">
    <div class="weekdays">
      <div *ngFor="let dayName of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']" class="weekday">{{ dayName }}</div>
    </div>
    <div class="weeks">
      <div class="week" *ngFor="let week of weeks; let weekIndex = index">
        <div class="day" *ngFor="let day of week; let dayIndex = index"
             [ngClass]="{'other-month': !isCurrentMonth(day)}"
             (click)="day !== null ? openAppointmentDialog(getDateFromDay(day)) : null">
          <div class="date">{{ day }}</div>
          <div class="appointments"
               cdkDropList
               [cdkDropListData]="day !== null ? appointmentsByDate[getDateKey(getDateFromDay(day))].value || [] : []"
               [id]="'dayDropList-' + ((weekIndex * 7) + dayIndex)"
               [cdkDropListConnectedTo]="allDropLists"
               [cdkDropListSortingDisabled]="true"
               (cdkDropListDropped)="onDrop($event)">
            <div *ngFor="let apt of (day !== null ? appointmentsByDate[getDateKey(getDateFromDay(day))].value : [])" 
                 class="appointment" 
                 cdkDrag
                 (click)="openAppointmentDialog(getDateFromDay(day), apt, $event)">
              {{ apt.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
