<div class="calendar-container">
    <div class="day-view">
      <div class="hour" *ngFor="let hour of hours">
        <span class="time">{{ hour }}</span>
        <div class="appointments">
          <div *ngFor="let apt of getAppointmentsForHour(hour)" class="appointment" [ngStyle]="{'top': getTopPosition(apt), 'height': getHeight(apt)}">
            <span>{{ apt.title }}</span>
            <span>{{ apt.start | date:'shortTime' }} - {{ apt.end | date:'shortTime' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  